/* Setup */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  width: 100%;
  overflow-x: hidden;
}

/* ^^^ Setup ^^^ */

/* vvv Nav-Bar vvv */
.navbar {
  font-weight: 600;
  width:100%;
  text-align: left;
  margin-right: 5%;
}

.nav-item {
  padding-right: 15px;
}

.nav-item a:hover {

  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transition: transform .8s;
  transform: scale(1.2);
}


/* ^^^ Nav Bar */

/* vvvv Home Page vvvv */

#home_page {
  background-color: #fce507;
  min-height: 100vh;
}
.name-container {
  margin-left: 15%;
  margin-bottom: 12%;
}

.name {
  font-size: 6rem;
  font-style: italic;
  margin-top: 30%;
  text-align: left;
  color: white;
}

.big-word {
  overflow-wrap: break-word;
}

.subtitle {
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
}

h1 {
  color: white;
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: italic;
  margin-top: 0;
}

.bold {
  font-weight: 600;
}

.profile {
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  align-items: flex-end;
}

.logo_container{
  display: flex;
  justify-content: center;
}

/* ^^^ Home Page ^^^ */


/* ============================ */
/* vvvv About Page vvvv */

#about_page #inner_wrapper div.box { /* Define the properties of inner block */
    width: 250px;
    height:500px;
    float: left;
    margin: 0 4px 0 0;
}

#about_page{
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  width:100%;
}

#about_page #inner_wrapper {
    width:650%; /* If you have more elements, increase the width accordingly */
}

#about_page #inner_wrapper div.box { /* Define the properties of inner block */
  width: 250px;
  height:500px;
  float: left;
  margin: 0 4px 0 0;
}

#about_page h1{
  padding: 5% 0 2% 5%;
}

h3 {
 padding: 0 0 2% 5%;
}

#about_page .paragraphs, #about_page p {
  padding-top: 2%;
  padding-right: 10%;
  padding-bottom: 1%;
  padding-left: 5%;
}

.box {
  min-width: 100vh;

}

.box-pix {
  filter: grayscale(1);
}

.box-pix:hover {
  filter: grayscale(0);
  transition: 1s;
}


.snap-x {
 scroll-snap-align: start;
}

.blk {
  background-color: black;
  color: white;
}

.pad {
  padding-top: 3%;
}

.dead {
  text-align: center;
}

.download-button  {
  background-color: black;
  border: none;
  border-radius: 0.5rem;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
}

.download-button:hover {
  background-color: #5A8F7B;
  color: white;
  -ms-transform: scale(1.3); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.1);
}

.download-button:not(:hover) {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  transition: transform .5s;
}


/* ^^^ About Page^^^ */
/* ============================ */


/* vvvv Contact Me vvvv */

#contact_me_page {
  justify-content: center;
  background-color: #5A8F7B;
  min-height: auto;
  width: 100%;
}

.footer-link {
  height: 4rem;
  margin: 2.5rem;
}

.footer-link:hover {
  filter: invert(100%);
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */

  transform: scale(1.5);
  transition: transform .5s;
}

.footer-link:not(:hover) {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  transition: transform .5s;
}


.heading {
  padding: 3%;
  text-align: center;
}

.bottom-cont {
  text-align: center;
  min-height: auto;
}

#form {
  width: 100%;
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5A8F7B;
  border-radius: 1px;
  box-sizing: border-box;
  border-style: none none solid none;
  border-color: black;
  background-color: #5A8F7B;
}

input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5A8F7B;
  border-radius: 1px;
  box-sizing: border-box;
  border-style: none none solid none;
  border-color: black;
  background-color: #5A8F7B;
}

#textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #5A8F7B;
  border-radius: 1px;
  box-sizing: border-box;
  border-style: none none solid none;
  border-color: black;
  background-color: #5A8F7B;
}

input:focus {
  border-style: none none solid none;
  border-color: purple;
}

.submit-button {
  background-color: #5A8F7B;
  border: none;
  display: flex;
  justify-content: center;
}

.submit-button:hover {
  color: #FFF5E1;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

.submit-button:not(:hover) {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transition: transform .7s;
  transform: scale(1);
}
/* ============================ */
/* ^^^^ Contact Me ^^^^ */

/* vvvv footer vvvv */
/* ============================ */
.footer-container {
  position: relative;
}

#bottom-container {
  text-align: center;
}

.image {
  display: block;
  height: 4rem;
  padding: 10%;
}

.footer-logo {
  height: 4rem;
  padding: 5%;
}

.footer-logo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

.footer-logo:not(:hover) {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transition: transform .3s;
  transform: scale(1);
}

#end-logos {
  padding-top: 2%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  padding: 5%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
}


#html-hover:hover .overlay {
  opacity: 1;
}

#html-color {
  position: absolute;
}

#html-color:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

#css-hover:hover .overlay {
  opacity: 1;
}

#css-color {
  position: absolute;
}

#css-color:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

#bootstrap-hover:hover .overlay {
  opacity: 1;
}

#bootstrap-color {
  position: absolute;
}

#bootstrap-color:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

#python-hover:hover .overlay {
  opacity: 1;
}

#python-color {
  position: absolute;
}

#python-color:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transition: transform .5s;
  transform: scale(1.5);
}

#python-hover:not(:hover) {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  transition: transform .5s;
}

/* ============================ */
/* ^^^^ footer ^^^^ */