<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Phumelela</title>
  <link rel="icon" type="image/x-icon" href="/static/images/phumelela favicon.svg">
  <link rel="stylesheet" href="static/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>

<body>
  <!-- vvvv  Nav Bar  vvvvv-->
  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ms-auto">
        <!--         <a class="navbar-brand" href="/static/images/Phumelela Icon-01.svg"> -->
        <li class="nav-item active">
          <a class="nav-link" href="#home_page">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about_page">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#journey_page1">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact_me_page">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ^^^^  Nav Bar  ^^^^ -->

  <!-- vvvv Title and Profile vvvv -->
  <div class="row" id="home_page">

    <div class="container-fluid column-1 col-lg-8 col-md-12">

      <div class="name-container">
        <h1 class="name">Hi, <br> I'm <span class="bold big-word">Phumelela</span></h1>
        <p class="subtitle">
          But my friends call me, "One of the coolest guys you'll ever meet."<br>-True story
        </p>
      </div>

    </div>

    <div class="column-2 col-lg-4 ms-auto mt-auto">

      <img class="ms-auto profile"
        src='static/images/profile picture.jpeg'
        alt="Profile Picture">
    </div>

  </div>
  <!-- ^^^^^ Title and Profile ^^^^^ -->

  <!-- vvvv About Page vvvv  -->
  <div id="about_page">
    <div id="inner_wrapper">
      <div class="box snap-x col-lg-6">
        <!-- Jo'burg -->
        <img class="box-pix" src="static/images/jhb-01.jpeg" alt="JHB" style="min-width: 100%; overflow: hidden;">
      </div>
      <div class="box col-lg-6">
        <!-- Durban -->
        <h1>
          Early Life
        </h1>
        <div class="paragraphs">

          “What do you call a man who was born in Jo’burg, grew up in Durban, and dies in Cape Town?”

        </div>

        <div class="paragraphs dead">

          <em>"Dead."</em>

        </div>

        <div class="paragraphs">

          That was an unfunny joke I heard on TV when I was 8-years-old. One which has to-date left me terrified of
          ever visiting the Mother City.

        </div>

        <div class="paragraphs">

          Ok maybe not terrified, but at least hesitent because so far, two thirds of that is my story. I was born in
          Jo’burg to two other cool people. Then, when I
          was 5-years-old, my mother decided to move
          the family to the coolest place in SA.

        </div>

      </div>
      <div class="box blk snap-x col-lg-6">
        <!-- Durban -->
        <h1>
          Adoloscence
        </h1>
        <div class="paragraphs">

          I’ve lived most of my life in the small town of Amanzimtoti. I attended primary school and then high school a few kilometers
          from my house. <br> My first big disappointment was in 2014 when I wasn’t accepted into UKZN for a BCom in
          entrepreneurship because
          unsatisfactory Maths marks.
          No matter, I was able to participate in a short course hosted by the school that gave us the opportunity
          to prove we weren’t irredeemably hopeless.
          <br>
          <br>
          Having completed the programme, I was accepted into the University where I studied for a year, learning a
          little about IT, Accounting, Management, and Commercial Law, all of which I enjoyed.
          I also studied Maths ... which I didn’t enjoy.
          Towards the end of that year my father, who wasn’t happy with the course of my career (he would’ve preferred
          I pursue something more traditional like teaching,) decided he would no longer pay for
          my education and I had to drop out.

        </div>
      </div>
      <div class="box blk col-lg-6">
        <!-- Durban -->
        <img class="box-pix blk" src="static/images/durban.jpeg" alt="dbn" style="max-height: 100%; max-width:100%; overflow: hidden;">
      </div>
      <div class="box snap-x col-lg-6">
        <!-- Roots -->
        <h1>
          2015 - 2016
        </h1>

        <h3>
          Roots Design
        </h3>

        <div class="info_dump">
          <p>
            In 2014 I had read Robert Kiyosaki’s
            Rich Dad Poor Dad, where he had encouraged
            taking on jobs for the educational value rather than
            the income.
            Having enjoyed my short stint in IT, and with
            the desire to help a start up, I decided
            to accept the opportunity to work for a Web Design company called Roots Design.
            While my responsibilties were more in the vein of data capturing and copy editing, this was where
            I was first introduced to Web and Graphic Design on platforms such as Wordpress and Photoshop.
            It was ultimately an enriching experience overall.
          </p>

          <div class="paragraphs dead">

            <b><em>"The lesson is – don’t take a job for the money, take a job to learn a skill."</em></b>
            <br>
            <d style="text-align: right;"> - Robert Kiyosaki, Rich Dad, Poor Dad</d>

          </div>
        </div>
      </div>
      <div class="box col-lg-6">
        <!-- Roots Logo-->
        <div style="height: 100% ;display: flex; justify-content: center; align-items: center;">
          <a href="https://www.rootsdesign.co.za/" class="logo mx-auto" target="_blank">
            <img src="static/images/roots.svg" alt="Roots Logo"
              style="height:17rem; display: flex; justify-content: center; align-items: center;">
          </a>
        </div>
      </div>
      <div class="box blk snap-x col-lg-6">
        <!-- Life Church -->

        <h1>
          2017 - 2018
        </h1>

        <h3>
          Internship
        </h3>

        <div class="info_dump">
          <p>
            In 2017 I accepted an unpaid internship for a local church hoping to pilot the program to fine tune for
            post-matriculant youth.
            These was meant to foster skills development, and and prepare etc.
            I was able to give feedback on what was missing and what could useful.
            The pilot led to the church developing a much more comprehensive programme, and led to me being hired to
            manage the coffee shop in 2019.
          </p>
        </div>

      </div>
      <div class="box col-lg-6">
        <!-- Life Church Picture-->
        <a href="https://southpointchurch.co.za/" class="logo mx-auto" target="_blank">
          <img class="box-pix" src="static/images/life church.jpeg" alt="Life Church"
            style="min-width: 100%; max-width: 100%; overflow: hidden;">
        </a>
      </div>
      <div class="box snap-x col-lg-6">
        <!-- Life Cafe -->

        <h1>
          2019 - 2020
        </h1>

        <h3>
          Life Cafe
        </h3>

        <div class="paragraphs">

          Towards the end of 2018 I was
          approached by the church I was
          attending who knew about my
          passion for business to manage
          the socially successful, but fiscally
          failing coffee shop.
          <br>
          <br>
          Within 4 months, with the help
          of some amazing people, we were
          able to break even and justify it’s
          continued existence.
          <br>
          <br>
          I learned how to learn from people
          who know better than me, and also
          how to win people over into a new
          way of doing things when “This is
          how we’ve always done things,”
          was no longer working.

        </div>

      </div>
      <div class="box col-lg-6">
        <!-- Life Cafe Logo -->
        <div style="height: 100% ;display: flex; justify-content: center; align-items: center;">
          <a href="https://www.facebook.com/LifeCafeToti" class="logo mx-auto" target="_blank">
            <img class="box-pix" src="static/images/life cafe.svg" alt="Life Cafe Logo"
              style="height:17rem; display: flex; justify-content: center; align-items: center;">
          </a>
        </div>
      </div>
      <div class="box snap-x col-lg-6">
        <!-- KZN Print Media -->
        <img class="box-pix" src="static/images/kznprint.jpeg" alt="JHB"
          style="max-width: 100%; min-height: 100%; overflow: hidden;">
      </div>
      <div class="box col-lg-6">
        <!-- KZN Print Media -->
        <h1>
          2020 - 2022
        </h1>

        <h3>
          KZN Print Media
        </h3>

        <div class="paragraphs">

          Having learned what I could
          about turning a business
          around from Life Cafe,
          in 2020 I accepted the
          opportunity to be the first
          hire for a new printing
          company.

        </div>


        <div class="paragraphs">

          This was going to give me
          a hands on experience in
          learning what goes into
          starting a new venture.

        </div>
        <div class="paragraphs">

          I especially learned how to
          manage resources, handle
          customer relations, and unlike
          Life Cafe where I had little to
          no oversight, I learned how
          to break down management
          goals into smaller executable
          tasks.

        </div>

        <div style="text-align: center;">

          <div class="pad">
            <a href="static/images/Phumelela CV.pdf" target="_blank" class="download-button">Download CV</a>
          </div>

        </div>
      </div>
      <!-- more boxes here -->
    </div>
  </div>
  <!-- ^^^^^ About Page ^^^^^ -->


  <!-- vvvv Contact Me -->
  <section id="contact_me_page">
    <h2 class="heading">Get In Touch</h2>

    <section class="mx-auto col-lg-8" id="email_me" style="display: flex; justify-content: center;">
      {% if request.method == 'POST': %}

      <h3 style="color: #FFF5E1; text-align: center;">Thanks for reaching out<br></h3>

      {% else %}
      <form id="form" action="/" method="post">
        <group class="row">
          <article class="mr-auto col-lg-5">
            <input type="text" placeholder="Your name:*" required name="username"><br>
          </article>

          <article class="mr-auto col-lg-5">
            <input type="email" placeholder="Email:*" required name="email">
          </article>
        </group>

        <textarea id="textarea" name="textarea" rows="4" cols="50" placeholder="What's up?" required></textarea>


        <button class="submit-button mx-auto" type="submit" value="Submit">Submit</button>


      </form>
      {% endif %}
    </section>

    <div class="bottom-cont row mx-auto" style="display: flex; justify-content: center;">

      <div class="col-lg-2" id="LinkedIn">

        <a href="https://www.linkedin.com/in/phumelelamwelase/" target="_blank">
          <img src="static/images/linkedin.svg" class="footer-link mx-auto" alt="LinkedIn Logo">
        </a>

      </div>

      <div class="col-lg-2" id="Github">

        <a href="https://github.com/PhumelelaMwelase/" target="_blank">
          <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" class="footer-link mx-auto" alt="Github Logo">
        </a>

      </div>


      <div class="col-lg-2" id="mail">

        <a href="mailto:phumelela@mail.com" target="_blank">
          <img class="footer-link mx-auto" src="static/images/email.png" alt="Email Logo">
        </a>

      </div>

      <div class="col-lg-2" id="twitter">

        <a href="https://twitter.com/pzmwelase" target="_blank">
          <img class="footer-link mx-auto" src="https://cdn-icons-png.flaticon.com/512/1384/1384017.png"
            alt="Twitter Logo">
        </a>

      </div>

    </div>

  </section>
  <!-- ^^^^ Contact Me ^^^^ -->

  <!-- vvvv Footer vvvv -->
  <section id="bottom-container" class="heading">


    <article>© Phumelela Mwelase {{year}}</article>



    Created using:

    <section id="end-logos" class="mx-auto col-lg-3">
      <div class="bottom-container">
        <div class="row">
          <div class="col">
            <div class="footer-container" id="html-hover">
              <a href="https://www.sololearn.com/Certificate/CT-U3WVSIJF/jpg" target="_blank">
                <img src="static/images/html black-01.png" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <img src="static/images/html colour.png" alt="" class="image" id="html-color">
                  </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footer-container" id="css-hover">
            <a href="https://www.sololearn.com/Certificate/1023-25508154/jpg" target="_blank">
              <img src="static/images/css black-01.png" alt="Avatar" class="image">
              <div class="overlay">
                <div class="text">
                  <img src="static/images/css colour.png" alt="" class="image" id="css-color">
                </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-container" id="bootstrap-hover">
          <img src="static/images/bootstrap black-01.png" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <img src="static/images/bootstrap colour.png" alt="" class="image" id="bootstrap-color">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-container" id="python-hover">
          <a href="https://www.sololearn.com/Certificate/CT-KZ79PXZ1/jpg" target="_blank">
            <img src="static/images/python black-01.png" alt="Avatar" class="image">
            <div class="overlay">
              <div class="text">
                <img src="static/images/python color.png" alt="" class="image" id="python-color">
              </div>
          </a>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
  </section>
  <!--   ^^^^ Footer ^^^^ -->

</body>

</html>