<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Phumelela</title>
  <link rel="icon" type="image/x-icon" href="/static/images/phumelela favicon.svg">
  <link rel="stylesheet" href="static/css/styles2.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>
<body>
<!-- vvvv  Nav Bar  vvvvv-->
  <nav class="navbar navbar-expand-lg fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav ms-auto">
        <!--         <a class="navbar-brand" href="/static/images/Phumelela Icon-01.svg"> -->
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('home') }}">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://phumelela.onrender.com/#about_page">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('projects') }}">PROJECTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://phumelela.onrender.com/#contact_me_page">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- ^^^^  Nav Bar  ^^^^ -->

  <!-- vvvv Projects vvvv -->

  <div class="container-fluid">


        <div class="row">
          <div class="guess col-lg-3 mx-auto">
            <a href="https://guess-the-number-v4n4.onrender.com/" target="_blank">
              <img src="static/images/guess-01.svg" alt="Guess Number Logo" id="guessnum" class="image">
            </a>
            <h3 style="text-align: center;">Guess The Number</h3>
          </div>
          <div class="guess col-lg-3 mx-auto">
            <a href="https://guessgeo.onrender.com/" target="_blank">
              <img src="static/images/guess.png" alt="Guess Geo Logo" id="guessgeo" class="image">
            </a>
            <h3 style="text-align: center;">Guess The Geo</h3>
          </div>
          <div class="guess col-lg-3 mx-auto">
            <a href="https://github.com/PhumelelaMwelase?tab=repositories" target="_blank">
              <img src="static/images/github projects.png" alt="Guess Geo Logo" id="github" class="image">
            </a>
            <h3 style="text-align: center;">Github Repos</h3>
          </div>
        </div>


    </div>

  <!-- ^^^^  Projects  ^^^^ -->

  <!-- vvvv Footer vvvv -->
  <section id="bottom-container" class="heading">


    <article>© Phumelela Mwelase {{year}}</article>



    Created using:

    <section id="end-logos" class="mx-auto col-lg-3">
      <div class="bottom-container">
        <div class="row">
          <div class="col">
            <div class="footer-container" id="html-hover">
              <a href="https://www.sololearn.com/Certificate/CT-U3WVSIJF/jpg" target="_blank">
                <img src="static/images/html black-01.png" alt="Avatar" class="image">
                <div class="overlay">
                  <div class="text">
                    <img src="static/images/html colour.png" alt="" class="image" id="html-color">
                  </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="footer-container" id="css-hover">
            <a href="https://www.sololearn.com/Certificate/1023-25508154/jpg" target="_blank">
              <img src="static/images/css black-01.png" alt="Avatar" class="image">
              <div class="overlay">
                <div class="text">
                  <img src="static/images/css colour.png" alt="" class="image" id="css-color">
                </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-container" id="bootstrap-hover">
          <img src="static/images/bootstrap black-01.png" alt="Avatar" class="image">
          <div class="overlay">
            <div class="text">
              <img src="static/images/bootstrap colour.png" alt="" class="image" id="bootstrap-color">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="footer-container" id="python-hover">
          <a href="https://www.sololearn.com/Certificate/CT-KZ79PXZ1/jpg" target="_blank">
            <img src="static/images/python black-01.png" alt="Avatar" class="image">
            <div class="overlay">
              <div class="text">
                <img src="static/images/python color.png" alt="" class="image" id="python-color">
              </div>
          </a>
        </div>
      </div>
      </div>
      </div>
      </div>
    </section>
  </section>
  <!--   ^^^^ Footer ^^^^ -->

</body>
</html>